############################################################################
#   Copyright (c) Hubert Bukowski. All rights reserved.
#   Licensed under the MIT License.
#   See License.txt in the project root for full license information.
############################################################################
# Visual Studo cache/options directory.
############################################################################

############################################################################
# Output files.
############################################################################
/artifacts

############################################################################
# Log files.
############################################################################
*.log
*.bak

