####################################################################
# Attributes definitions
####################################################################
[attr]git              !binary text diff merge=text
[attr]rawtext          !binary text diff merge
[attr]windowsscript    !binary text eol=crlf diff merge=text
[attr]nixscript        !binary text eol=lf diff merge=text
[attr]json             !binary text diff merge=text
[attr]yml              !binary text diff merge=text
[attr]markup           !binary text diff merge
[attr]binary           -text -diff -merge

####################################################################
# Default settings for all files
####################################################################
*                      binary

####################################################################
# File extensions
####################################################################
.gitattributes         git
.gitignore             git
*.sh                   nixscript
*.cmd                  windowsscript
*.ps1                  windowsscript
*.psd1                 windowsscript
*.psm1                 windowsscript
*.txt                  rawtext
*.md                   markup
*.json                 json
*.yml                  yml
