####################################################################
# Visual Studo cache/options directory.
####################################################################
/.vscode/launch.json

####################################################################
# Log files.
####################################################################
*.log
*.bak
