####################################################################
# Visual Studo cache/options directory.
####################################################################

####################################################################
# Log files.
####################################################################
*.log
*.bak
