############################################################################
#   Copyright (c) Hubert Bukowski. All rights reserved.
#   Licensed under the MIT License.
#   See License.txt in the project root for full license information.
############################################################################
# Attributes definitions
#   text - enables automatic line ends conversion
############################################################################
[attr]defaulttext    text diff merge=text
[attr]wintext        text diff merge=text eol=crlf 
[attr]nixtext        text diff merge=text eol=lf 
[attr]binary         -text -diff -merge

############################################################################
# Default settings for all files
############################################################################
*                      binary

############################################################################
# File extensions
############################################################################
.editorconfig          defaulttext
.gitattributes         defaulttext
.gitignore             defaulttext
*.yml                  defaulttext
*.sh                   nixtext
*.cmd                  wintext
*.ps1                  defaulttext
*.psd1                 defaulttext
*.psm1                 defaulttext
*.md                   defaulttext
*.json                 defaulttext
